@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-white overflow-hidden bg-omega-black;
  }
}

/* Custom transitions for the Tearing Effect */
.paradox-tear {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 55%);
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}
